{% extends "flights/layout.html" %}
{% block body %}
<h1> FLIGHT {{flight.id}}: </h1>
<ul>
    <li>
        FLIGHT origin : {{flight.origin}} 
    </li>
    <li>
        FLIGHT destination : {{flight.destination}}
    </li>
    <li>
        FLIGHT duration : {{flight.duration}}
    </li>
</ul>
<h2>PASSSENGERS</h2>
<ul>
    {%for passenger in passengers%}
    <li>
        {{passenger}}
    </li>
    {%endfor%}
</ul>
<a href="{%url 'index' %} ">go back to list</a>
{% endblock %}